# default
*               text=auto

# explicit
*.conf          text eol=lf
*.ini           text eol=lf
*.json          text eol=lf
*.lock          text eol=lf
*.md            text eol=lf
*.php           text eol=lf
*.sql           text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf

# git
.gitattributes  text eol=lf
.gitignore      text eol=lf

# docker
.dockerignore   text eol=lf
Dockerfile      text eol=lf

# binaries
*.png           binary
